@font-face {
  font-family: "iconfont"; /* Project id 3376816 */
  src: url('iconfont.woff2?t=1651722174073') format('woff2'),
       url('iconfont.woff?t=1651722174073') format('woff'),
       url('iconfont.ttf?t=1651722174073') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-bottom:before {
  content: "\e62b";
}

.icon-triangle-top:before {
  content: "\e635";
}

